@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import "~inuit-css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~flatpickr/dist/themes/airbnb.css";


:root {
  --primary-color: #c1282d;
  --secondary-color: #757575;
  --link-color: #538BF4;
  --fontPrimary--color: #434343;
  --lightGrey-color: #E9ECEF;
  --darkGrey-color: #8FA4B8;
  --dark-color: #5A6169;
  --active-color: #007BFF;
  --grid-maxWidth: 1200px;
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 36rem) {
      @content
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: 45rem) {
      @content
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 920px) {
      @content
    }
  }
}
