.Header {
  background-color: var(--primary-color);

  &-logo {
    &Image{
      max-width: 8rem;
      padding: 1rem;
    }
  }
  &-nav{
    li{
      margin: 1rem;
    }
    a{
      color: white;
    }
    i{
      margin-right: .5rem;
      vertical-align: text-top;
    }
  }
}
