.Login {
  min-height: calc(100vh - 113px);
  max-width: 40rem;
  margin: auto;
  &-container {
    width: 100%;
    margin-bottom: 6rem;
  }
  &-h1 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }
  input {
    margin: 1.6rem 0;
  }
  select {
  }
}

.Request {
  &-file{
    margin-top: 0 !important;
    border: 1px #b9b9b9 dashed !important;
    padding: 2rem !important;
  }
  input {
    margin: 1.6rem 0;
  }
}

.Banner {
  &-principal {
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    &Arrow{
      max-width: 3rem;
      cursor: pointer;
      position: absolute;
    }
  }
}
.bounce {
  animation-name: bounce;
}
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}