.Login{
  min-height: calc(100vh - 113px);
  &-container{
    width: 100%;
    margin-bottom: 6rem;
  }
  &-h1{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }
  input{
    margin: 1.6rem 0;
  }
  select{
  }
}