.Ticket {
  &-date {
    font-size: 1.4rem;
    font-weight: 400;
  }
  &-info {
    p {
      margin: 1rem 0;
    }
  }
  &-success {

    &Border {
      border: .1rem solid var(--lightGrey-color);
      padding: 2rem;
    }
  }
}

