.Ticket {
  &-date {
    font-size: 1.4rem;
    font-weight: 400;
  }
  &-info {
    p {
      margin: 1rem 0;
    }
  }
  &-success {

    &Border {
      border: .1rem solid var(--lightGrey-color);
      padding: 2rem;
    }
  }
}

.Filters-download {
  width: 4rem;
  margin-left: 1rem;
  &Button {
    min-width: auto !important;
    min-height: auto !important;
    padding: 0 !important;
    color: #fff !important;
    background: none !important;
    width: 3.6rem;
    margin-left: .4rem;
  }
}
