.Ticket {
  &-date {
    font-size: 1.4rem;
    font-weight: 400;
  }
  &-info {
    p {
      margin: 1rem 0;
    }
  }
  &-success {

    &Border {
      border: .1rem solid var(--lightGrey-color);
      padding: 2rem;
    }
  }
}

.boxcolor {
    background-color: beige;
    padding: 13px;
    margin: 15px;
  }

.comentarios{
    padding: 10px 30px;
    margin-top: 40px;
    background-color: #f9f9f9;
    textarea{
      background-color: white;
      border-radius: 0px;
    }
    &-c-texto{
      padding-left: 10px;
      border-left: solid 1px gray;
    }
    &-nombre{
      padding: 10px;
      font-weight: 400;
      color: #d2514c;
    }
}

.Filters-download {
  width: 4rem;
  margin-left: 1rem;
  &Button {
    min-width: auto !important;
    min-height: auto !important;
    padding: 0 !important;
    color: #fff !important;
    background: none !important;
    width: 3.6rem;
    margin-left: .4rem;
  }
}
